Minecraft Origin Server/logs
Minecraft Origin Server/world
Minecraft Origin Server/world_nether
Minecraft Origin Server/world_the_end

Minecraft Origin Server/banned-ips.json
Minecraft Origin Server/banned-players.json
Minecraft Origin Server/ops.json
Minecraft Origin Server/usercache.json
Minecraft Origin Server/whitelist.json
Minecraft Origin Server/version_history.json
Minecraft Origin Server/help.yml
Minecraft Origin Server/bukkit.yml
Minecraft Origin Server/commands.yml
Minecraft Origin Server/paper.yml
Minecraft Origin Server/permissions.yml
Minecraft Origin Server/plugins/bStats/config.yml
Minecraft Origin Server/spigot.yml
